/viikko4/MockitoDemo/build/
/viikko4/MaksukorttiMockito/build/
/viikko4/Verkkokauppa/build/
/viikko4/IntJoukkoSovellus/build/
/viikko5/LaskinSwing/build/
/viikko6/QueryLanguage/build/
/viikko6/QueryLanguage/.gradle
